@import '@/styles/theme.scss';

.ChatRoomHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > .ChatRoomTitle {
    color: $gray1000;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
  }
}

.ChatRoomWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 43px 0px 30px 0px;
  min-height: 547px;
  max-height: 547px;
  overflow-y: auto;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.ChatInputWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 0px;
  width: 100%;

  > .CameraIcon {
    stroke: $gray400;
  }

  > .ChatInputContent {
    flex: 1;
    background-color: $gray100;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    padding: 12px 16px;
    border-radius: 41px;

    > .ChatInput {
      font-size: 14px;
      font-weight: 500;
      flex: 1;
      max-height: 20px; // 최대 높이 설정
      resize: none; // 사용자가 크기를 조절하지 못하게 함
      overflow-y: auto; // 내용이 넘칠 경우 스크롤바 표시

      &::placeholder {
        color: $gray300;
      }
    }
    > .UploadIcon {
      stroke: $gray400;
      cursor: pointer;
    }
  }
}
