@import '@/styles/theme.scss';

.ContentFieldWrapper {
  border-radius: 8px;
  &.Gray {
    background-color: $gray100;
  }

  &.White {
    background-color: #fff;
  }

  &.Border {
    border: 1px solid $gray300;
    transition: border 0.3s;

    &:focus-within {
      border: 1px solid $gray1000;
    }
  }
}
