@import '@/styles/theme.scss';

.EstimatedPriceWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 32px;

  > .EstimatedPriceTitle {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
  }

  > .EstimatedPriceContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;

    > .EstimatedPrice {
      color: $primary;
      text-align: center;
      font-size: 15px;
      font-weight: 700;
      line-height: 22px;
    }

    > .PetTypeContent {
      display: flex;
      gap: 6px;
      align-items: center;
      color: $gray700;
      text-align: center;
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
    }
  }
}

.ReservationWrapper {
  margin-bottom: 32px;

  > .DateContent {
    padding: 12px 16px;
    display: flex;
    gap: 8px;
    align-items: center;

    > .Date {
      color: $gray700;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }
}

.ParkingInfoWrapper {
  > .ParkingInfo {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;

    > .Address {
      color: $gray700;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }

  > .DetailAddress {
    padding: 12px 16px;

    > input {
      border: none;
      outline: none;
      background-color: transparent;
    }
  }
}

.Title {
  color: #000;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 8px;
}

.VerticalDivider {
  width: 2px;
  height: 14px;
  border-radius: 2px;
  background-color: $gray300;
}
