@import '@/styles/theme.scss';

.ReviewSurveyWrapper {
  padding-top: 16px;

  .ReviewSurveyVisitCount {
    border-radius: 8px;
    background-color: $gray200;
    width: fit-content;
    padding: 2px 8px;
  }
  .ReviewSurveyMainTitle {
    color: $black;
    font-size: 16px;
    font-weight: 600;
    padding-top: 8px;
  }
  .ReviewSurveySubTitle {
    color: $gray600;
    font-size: 11px;
    font-weight: 500;
    padding-top: 8px;
  }
  .ReviewSelectTitle {
    color: $gray400;
    font-size: 14px;
    font-weight: 500;
    padding-top: 16px;
  }
  .ReviewSelectButtonWrapper {
    display: flex;
    gap: 8px;
    padding-top: 8px;
    flex-wrap: wrap;
    .ReviewSelectButton {
      padding: 8px 16px;
      width: fit-content;
    }
  }
}
.NavigateWrap {
  padding-top: 38px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  > button {
    text-align: center;
    padding: 17px 67.75px;
    flex:1;
  }
}